a, a:hover, a:visited, a:focus {
	text-decoration: none;
	&:hover {
		color: inherit
	}
}

$blue: #3f606f; 
$blue-light: #92aa9d;
$grey: #d8d8d8;
$green-light: #79bc8e;
$beige: #a7a37e;
$red: #b64a26;

body {
	font-family: 'Asap', sans-serif;
	font-size: 15px;
}


.container {
	margin: 0 20px;
}

h2, h3, .h2, .h3 {
	font-weight: 700;
	padding-bottom: 5px;
	color: #3f606f;
}

.arrow-back {
	position : absolute;
	top: 8px;
	left: 8px;
	transform: rotate(90deg);
}

li {
	list-style: none;
}

.plus-add {
	position: absolute;
	top: 12px;
	right: 17px;
}

.btn {
	display: block;
	width: 130px;
	border: 1px solid $beige;
	color: $beige;
	font-size: 18px; 
	padding: 10px 28px; 
	margin: 18px auto;
	cursor: pointer;
	background-color: #FFF;
}

