a, a:hover, a:visited, a:focus {
	text-decoration: none;
	&:hover {
		color: inherit
	}
}

$blue: #3f606f; 
$grey: #d8d8d8;
$green-light: #79bc8e;


body {
	font-family: 'Asap', sans-serif;
	font-size: 15px;	
	background: #f8f8f6;
	color: #92aa9d;
}
.container {
	margin: 0 20px;
}

h2, h3, .h2, .h3 {
	font-weight: 700;
	padding-bottom: 5px;
	color: #3f606f;
}

.arrow-back {
	position : absolute;
	top: 8px;
	left: 8px;
	transform: rotate(90deg);
}

li {
	list-style: none;
}

.plus-add {
	position: absolute;
	top: 12px;
	right: 17px;
}

